/*
|---------------------
| Home CSS
|---------------------
*/
#home-container{
	border:1px solid black;
	border-radius:10px;
	margin:auto;
	width: 60%;
	min-width: 300px;
}
.user-bar{
	text-align:right;
	margin-top: 5px;
	margin-right: 10px;
}
#username-text-dec{
	font-weight:bold;
}
.list{
	border:1px solid black;
	border-radius: 10px;
	margin:auto;
	width: 80%;
	min-width:280px;
	margin-bottom: 10px;
	overflow:auto;
	max-height: 450px;
	
}
#join-button, #create-button{
	margin-bottom: 10px;
	display: inline-block;
}
